*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.asv
*.dvi
*.spl
*.zip
*.gz
.DS_Store
Plots
*.txt
*.csv
*Copy*.*
CAF*
*.pdf
*initial_submit*
numerical-results-outputs/
post-processed-norms/moose_output_files/
multimat-conf-2015/semi-analytical-sol-Jim-Ferguson/
multimat-conf-2015/python-script/constant-cross-section/mach-3/*.eps
multimat-conf-2015/python-script/constant-cross-section/mach-1p05/*.eps
multimat-conf-2015/python-script/temp-dpt-cross-section/mach-3/*.eps
*.pyc
multimat-conf-2015\paper\latex-files-upload-revision\*
multimat-conf-2015\paper\latex-files-upload-revision\*\*
multimat-conf-2015/paper/latex-files-upload-revision/*
multimat-conf-2015/paper/latex-files-upload-revision/*/*
multimat-conf-2015/paper/latex-files-upload-revision-2/figures*/*
multimat-conf-2015\paper\latex-files-upload-revision-2\figures*\*
multimat-conf-2015/paper/latex-files-upload-revision-2/EPS-rev2/
multimat-conf-2015\paper\latex-files-upload-revision-2\EPS-rev2\
